{{outlet}}

{{#portal-content for="footer"}}
  <div id="bar-footer" class="footer">Bar Footer</div>
{{/portal-content}}

<p>
  This page only sets a custom footer, so should have the "Examples Header" and "Bar Footer".
</p>
