{{#portal-content for="header"}}
  <div id="foo-header" class="header">Foo Header</div>
{{/portal-content}}

<p>
  This page only sets a custom header, so should have the "Foo Header" and "Examples Footer".
</p>
