{{#portal-content for="header"}}
  <div id="examples-header" class="header">Examples Header</div>
{{/portal-content}}

{{#portal-content for="footer"}}
  <div id="examples-footer" class="footer">Examples Footer</div>
{{/portal-content}}

<p>This sets both a header and a footer</p>

{{outlet}}
